@import "@fontsource/inter/400.css";
@import "@fontsource/inter/500.css";
@import "@fontsource/inter/700.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pogo";
  src: url("/fonts/Pogo.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Migae";
  src: url("/fonts/Migae.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "Ananda";
  src: url("/fonts/Ananda.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "Bebas";
  src: url("/fonts/Bebas.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
